<div class="container-fluid p-3 my-2 bg-primary text-white">
    Ajouter un Fournisseur
</div>
<div class="container">
    <img src="./assets/images/admin.png">
</div>

<div class="container">
    <form [formGroup]="fournisseurForm" (ngSubmit)="onAddFournisseur()">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput formControlName="nom_fournisseur" placeholder="Fournisseur">
                </mat-form-field>
                <!--errors for name formControl-->
                <!--<mat-error *ngIf="nom_client.errors.required||nom_client.errors.minlength">
                    Name is <strong>invalid</strong>
                </mat-error>-->

                <!--<mat-error *ngIf="nom_client.errors.minlength">
                    lenght should be more than  <strong>4</strong>
                </mat-error>-->

            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput formControlName="email_fournisseur" placeholder="Email">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field hintLabel="Telephone" appearance="fill">
                    <input matInput formControlName="tel_fournisseur"
                    placeholder="Telephone"><!-- [disabled]="typeClient===particulier?false:true" --> 
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field aria-placeholder="Fax" appearance="fill">
                    <input matInput placeholder="Fax" formControlName="fax_fournisseur"/>    
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field aria-placeholder="Adress" appearance="fill">
                    <textarea matInput placeholder="Adress" formControlName="address_fournisseur"></textarea>    
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Choisir une ville</mat-label>
                    <mat-select [(value)]="nomVille" formControlName="ville_id"><!---->
                    <mat-option *ngFor="let city of cities" [value]="city.id">
                        {{city.name}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
        </div>

        <div class="row">

            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput formControlName="code_postal_fournisseur" placeholder="Code Postal">
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput formControlName="rs_fournisseur" placeholder="Raison Social">
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput formControlName="siteweb_fournisseur" placeholder="Site Web">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput formControlName="cnss_fournisseur" placeholder="CNSS">
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput formControlName="if_fournisseur" placeholder="IF(Identifiant Fiscal)">
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput formControlName="ice_fournisseur" placeholder="ICE(Identifiant Commun de l'Entreprise)">
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput formControlName="rc_fournisseur" placeholder="RC(Registre de Commerce)">
                </mat-form-field>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <input matInput formControlName="observation" placeholder="Observation">
                </mat-form-field>
            </div>
        </div>


                <button mat-raised-button color="primary" type="submit" [disabled]="!fournisseurForm.valid">Ajouter</button>
    </form>
    
  </div>